.game-container {
	width: 100%;
	height: calc(100vh - 200px);

	.game-frame {
		position: absolute;

		left: 50%;

		transform: translateX(-50%);

		width: 80%;
		height: calc(100% - 70px);

		border: none;
		outline: none;
	}

	.game-frame-fullscreen {
		width: 100%;
		height: 100%;

		position: static;
	}

	.fullscreen-icon {
		position: absolute;

		left: 10%;

		transform: translate(50%, 50%);

		margin: 10px;

		z-index: 1;

		cursor: pointer;
	}
}

.cloak-screen {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border: none;
	outline: none;
}

.uncloak-button {
	position: absolute;

	bottom: 10px;
	left: 10px;
}

.content {
	margin-top: 100px;
}
