.cloak-screen {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border: none;
	outline: none;

	z-index: 999999;
}

.uncloak-button {
	position: absolute;

	bottom: 10px;
	left: 10px;

	z-index: 9999991;
}

.content {
	margin-top: 100px;
	padding-bottom: 100px;
}
